[submodule "backend"]
	path = backend
	url = git@github.com:woragis/cuts-machine-backend.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:woragis/cuts-machine-frontend.git
[submodule "scheduler"]
	path = scheduler
	url = git@github.com:woragis/cuts-scheduler.git
[submodule "worker-general"]
	path = worker-general
	url = git@github.com:woragis/cuts-worker-general.git
