[submodule "backend"]
	path = backend
	url = git@github.com:woragis/cuts-machine-backend.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:woragis/cuts-machine-frontend.git
[submodule "scheduler"]
	path = scheduler
	url = git@github.com:woragis/cuts-scheduler.git
[submodule "worker-general"]
	path = worker-general
	url = git@github.com:woragis/cuts-worker-general.git
[submodule "worker-analyze"]
	path = worker-analyze
	url = git@github.com:woragis/cuts-worker-analyze.git
[submodule "worker-transcribe"]
	path = worker-transcribe
	url = git@github.com:woragis/cuts-worker-transcribe.git
[submodule "worker-render"]
	path = worker-render
	url = git@github.com:woragis/cuts-worker-render.git
[submodule "worker-publish"]
	path = worker-publish
	url = git@github.com:woragis/cuts-worker-publish.git
[submodule "worker-notification"]
	path = worker-notification
	url = git@github.com:woragis/cuts-worker-notification.git
[submodule "worker-thumbnail"]
	path = worker-thumbnail
	url = git@github.com:woragis/cuts-worker-thumbnail.git
[submodule "orchestrator"]
	path = orchestrator
	url = git@github.com:woragis/cuts-orchestrator.git
[submodule "meta-dev-server"]
	path = meta-dev-server
	url = git@github.com:woragis/cuts-meta-dev-server.git
[submodule "tiktok-dev-server"]
	path = tiktok-dev-server
	url = git@github.com:woragis/cuts-tiktok-dev-server.git
