[submodule "backend"]
	path = backend
	url = git@github.com:woragis/cuts-backend.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:woragis/cuts-frontend.git
[submodule "scheduler"]
	path = scheduler
	url = git@github.com:woragis/cuts-scheduler.git
[submodule "worker-control"]
	path = worker-control
	url = git@github.com:woragis/cuts-worker-control.git
[submodule "worker-analyze"]
	path = worker-analyze
	url = git@github.com:woragis/cuts-worker-analyze.git
[submodule "worker-transcribe"]
	path = worker-transcribe
	url = git@github.com:woragis/cuts-worker-transcribe.git
[submodule "worker-ffmpeg"]
	path = worker-ffmpeg
	url = git@github.com:woragis/cuts-worker-ffmpeg.git
[submodule "worker-publish"]
	path = worker-publish
	url = git@github.com:woragis/cuts-worker-publish.git
[submodule "worker-notify"]
	path = worker-notify
	url = git@github.com:woragis/cuts-worker-notify.git
[submodule "worker-thumbnail"]
	path = worker-thumbnail
	url = git@github.com:woragis/cuts-worker-thumbnail.git
[submodule "orchestrator"]
	path = orchestrator
	url = git@github.com:woragis/cuts-orchestrator.git
[submodule "meta-dev-server"]
	path = meta-dev-server
	url = git@github.com:woragis/cuts-meta-dev-server.git
[submodule "tiktok-dev-server"]
	path = tiktok-dev-server
	url = git@github.com:woragis/cuts-tiktok-dev-server.git
[submodule "worker-audio"]
	path = worker-audio
	url = git@github.com:woragis/cuts-worker-audio.git
[submodule "worker-plan"]
	path = worker-plan
	url = git@github.com:woragis/cuts-worker-plan.git
[submodule "worker-visual"]
	path = worker-visual
	url = git@github.com:woragis/cuts-worker-visual.git
[submodule "worker-factory"]
	path = worker-factory
	url = git@github.com:woragis/cuts-worker-factory.git
